// about

$about-height: 830px;

.about-outer {
  height: $about-height;
  @extend %light-grey-background;
}

.about-inner {
  height: $about-height;
}

.about-title {
  margin: 80px;
  text-align: left;
  font-size: 70px;
  @extend %grey-font;

  span {
    @extend %pink-font;
  }
}

.about-content {

  h4 {
    @extend %grey-font;
    line-height: 65px;
    font-size: 35px;

    a {
      @extend %pink-font;
      text-decoration: none;
    }
  }
}

.about-photo-wrapper {

  img {
    border-radius: 2px;
  }
}


// MEDIA QUERY

@media (max-width: 768px) {

$about-height: 600px;

.about-outer {
  height: $about-height;
}

.about-inner {
  height: $about-height
}

.about-content {

  h4 {
    font-size: 25px;
    line-height: 40px;
  }
}

}
