// Banner

.banner-outer {
  background: url('../images/banner-bg.jpeg') center center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
  // background-position: 0 0;
  transition: 0s linear;
  transition-property: background-position-y;
}

.banner-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.1);
}

.banner-inner {
  position: relative;
  top: 40%;
}

.banner-title {
  opacity: 0;
  font-size: 70px;
  position: relative;
  top: -15px;
  @extend %grey-font;


  &.banner-title-load {
    opacity: 1;
    top: 0;
    transition: opacity 1s, top 1s ease-in-out;
    transition-property: opacity, top;
    transition-duration: 1s 1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial, initial;
  }

  span {
    @extend %pink-font;
  }
}

.banner-sub {
  text-transform: uppercase;
  color: white;
}
