// Hamburg menu



@mixin btn($right, $top) {
  position: absolute;
  width: 30px;
  height: 25px;
  top: $top;
  right: $right;
  vertical-align: middle;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 10px;
  @extend %grey-background;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  @extend %grey-background;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  @extend %grey-background;
  content: "";
  top: $top;
}

.btn2{
  @include btn(30px, 25px);

  .icon {
    @include icon(4px, 28px);

    &:before{
      @include icon-before(4px, 28px, -10px);
    }

    &:after{
      @include icon-after(4px, 28px, 10px);
    }
  }

  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
        @extend %pink-background;
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.6px);
        @extend %pink-background;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}
