// Header

$header-height: 75px;
$header-font-size: 15px;



.header-logo {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 17.5px;
  left: 30px;
  background: url('../images/60px.png') no-repeat;
  background-size: 140px 40px;
  height: 40px;
  width: 140px;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  transition-property: visibility, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: initial, ease-in-out;
  transition-delay: initial, initial;

  &.logo-active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    transition-property: visibility, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: initial, ease-in-out;
    transition-delay: initial, initial;
  }
}

.header-inner {
  height: 0;
  text-align: center;
  background-color: white;
  overflow: hidden;
  transition: background .5s 0.6s,height .5s .6s;
  transition-property: background, height;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: initial, initial;
  transition-delay: 0.6s, 0.6s;


  &.menu-active {
    height: $header-height;
    transition: background 0.5s,height .2s;
    transition-property: background, height;
    transition-duration: 0.5s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
  }
}

.header-nav {
  height: $header-height;
  display: inline-block;
  list-style: none;
  padding: 0;
}

.header-nav-item {
  height: $header-height;
  opacity: 0;
  position: relative;
  top: -15px;
  vertical-align: middle;
  display: inline-block;
  transition: opacity 0.5s,top .5s;
  transition-property: opacity, top;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: initial, initial;
  transition-delay: initial, initial;

  &.nav-active {
    opacity: 1;
    top: 0;
    transition: opacity 0.5s,top 0.5s;
    transition-property: opacity, top;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
  }

  a {
    line-height: $header-height;
    display: block;
    color: rgba(210, 200, 191, 1);
    text-decoration: none;
    font-size: $header-font-size;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: 0.35s;

    &:hover {
      @extend %pink-font;
      text-decoration: none;
    }
  }
}

.header-nav-item:nth-child(1) {
  transition-delay: 0.5s;
}

.header-nav-item.nav-active:nth-child(1) {
  transition-delay: 0.5s;
}

.header-nav-item:nth-child(2) {
  transition-delay: 0.3s;
}

.header-nav-item.nav-active:nth-child(2) {
  transition-delay: 0.3s;
}

.header-nav-item:nth-child(3) {
  transition-delay: 0.1s;
}

.header-nav-item.nav-active:nth-child(3) {
  transition-delay: 0.1s;
}

.header-nav-item:nth-child(4) {
  transition-delay: 0.3s;
}

.header-nav-item.nav-active:nth-child(4) {
  transition-delay: 0.3s;
}

.header-nav-item:nth-child(5) {
  transition-delay: 0.5s;
}

.header-nav-item.nav-active:nth-child(5) {
  transition-delay: 0.5s;
}


.menu-title {
  width: 30px;
  font-size: $header-font-size;
  @extend %grey-font;
  position: absolute;
  right: 90px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2px;
  line-height: 75px;
  text-transform: uppercase;
}
