// portfolio

.portfolio-outer {
  height: 100%;
  padding: 0;
}

.portfolio-inner {
  padding: 0;
}

.portfolio-title-wrapper {
  @extend %light-grey-background;
}

.portfolio-title {
  display: inline-block;
  margin: 80px;
  text-align: left;
  font-size: 70px;
  @extend %grey-font;

  span {
    @extend %pink-font;
  }
}

$project-height: 450px;

// project-one

.project-one {
  height: $project-height;
  padding: 0;
}

.project-one-content {
  height: $project-height;
}

.project-one-img {
  background: url('../images/gearvibes.png');
  background-size: cover;
  height: $project-height;
  position: relative;
}

.project-one-img::before {
  content: "";
  position: absolute;
  background: rgba(14, 14, 14, 1);
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.35s ease-in-out;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.project-one-img:hover::before {
  opacity: 0.8;
}


.project-one-title {
  @extend %grey-font;
  text-align: center;
  font-size: 50px;
}

// project-two

.project-two-img {
  background: url('../images/github.png');
  background-size: cover;
  height: $project-height;
  position: relative;
}

.project-two-img::before {
  content: "";
  position: absolute;
  background: rgba(14, 14, 14, 1);
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.35s ease-in-out;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.project-two-img:hover::before {
  opacity: 0.8;
}

// project-three

.project-three-img {
  background: url('../images/surfandpaddle.png');
  background-size: cover;
  height: $project-height;
  position: relative;
}

.project-three-img::before {
  content: "";
  position: absolute;
  background: rgba(14, 14, 14, 1);
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.35s ease-in-out;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.project-three-img:hover::before {
  opacity: 0.8;

}



// global-project-selectors

.project-slide-wrapper {
  position: relative;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s, top 0.2s ease-in-out;
  transition-property: visibility, opacity, top;
  transition-duration: 0.2s 0.2s 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial, initial, initial;

  &.project-slide-hover {
    visibility: visible;
    opacity: 1;
    top: 0
  }
}

.project-img {
  padding-top: 100px;
  overflow: hidden;
}

.project-title {
  text-align: center;
  color: white;
  position: relative;
  top: 80px;
  font-size: 70px;
  margin: 0;
  letter-spacing: 3px;
  transition: top 0.35s ease-in-out;
  transition-property: top;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;

  &.project-title-hover {
    top: 55px;
  }
}

.project-sub {
  text-align: center;
  color: white;
  position: relative;
  font-weight: 500;
  margin-top: 140px;
  text-transform: uppercase;
  font-size: 14px;
}

.project-links-container {
  text-align: center;
}

.project-links {
  list-style: none;
  padding: 0;
}

.project-link-wrapper {
  display: inline-block;
}

.project-link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  @extend %grey-background;
  border-radius: 100%;
  transition: background-color 0.25s ease-in-out;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;



  &:hover {
    @extend %pink-background;
  }
}

.project-link i {
  font-size: 40px;
  color: white;
}

.code-link-wrapper {
  margin-left: 30px;
}


// Media Query

// xs
@media (max-width: 650px) {

  .portfolio-title {
    margin: 20px;
    font-size: 60px;
  }

  .project-title {
    font-size: 50px;

    &.project-title-hover {
      top: 40px;
    }
  }

  .project-sub {
    margin-top: 100px;
  }
}

@media (min-width: 650px) and (max-width: 768px) {

  .portfolio-title {
    margin: 20px;
    font-size: 60px;
  }

}
