
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

%grey-background {
  background-color: rgba(54, 59, 68, 1);
}

%grey-font {
  color: rgba(54, 59, 68, 1);
}

%pink-background {
  background-color: rgba(255, 82, 114, 1);
}

%pink-font {
  color: rgba(255, 82, 114, 1);
}



// Header

$header-height: 75px;
$header-font-size: 15px;

.header-outer {
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 0;
}

.header-logo {
  display: inline-block;
  position: absolute;
}

.header-inner {
  height: $header-height;
  text-align: center;
  background-color: white;
}

.header-nav {
  height: $header-height;
  display: inline-block;
  list-style: none;
  padding: 0;
}

.header-nav-item {
  height: $header-height;
  display: inline-block;

  a {
    line-height: $header-height;
    display: block;
    color: rgba(210, 200, 191, 1);
    text-decoration: none;
    font-size: $header-font-size;
    padding: 0 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: 0.4s;

    &:hover {
      @extend %pink-font;
    }
  }
}

.menu-title {
  width: 30px;
  font-size: $header-font-size;
  @extend %grey-font;
  position: absolute;
  right: 90px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 2px;
  line-height: 75px;
  text-transform: uppercase;
}


// Hamburg menu



@mixin btn($right, $top) {
  position: absolute;
  width: 30px;
  height: 25px;
  top: $top;
  right: $right;
  vertical-align: middle;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 10px;
  @extend %grey-background;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  @extend %grey-background;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  @extend %grey-background;
  content: "";
  top: $top;
}

.btn2{
  @include btn(30px, 25px);

  .icon {
    @include icon(4px, 28px);

    &:before{
      @include icon-before(4px, 28px, -10px);
    }

    &:after{
      @include icon-after(4px, 28px, 10px);
    }
  }

  &.open {
    .icon {
      transition-duration: 0.5s;
      background: transparent;

      &:before{
        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
        @extend %pink-background;
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.6px);
        @extend %pink-background;
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}

// Banner

.banner-outer {
  background: url('../images/banner-bg.jpeg') center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.banner-outer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.1);
}

.banner-inner {
  position: relative;
  top: 40%;
}

.banner-title {
  font-size: 70px;
  @extend %grey-font;

  span {
    @extend %pink-font;
  }
}

.banner-sub {
  text-transform: uppercase;
  color: white;
}
