@import "header";
@import "hamburg";
@import "banner";

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

%grey-background {
  background-color: rgba(54, 59, 68, 1);
}

%grey-font {
  color: rgba(54, 59, 68, 1);
}

%pink-background {
  background-color: rgba(255, 82, 114, 1);
}

%pink-font {
  color: rgba(255, 82, 114, 1);
}



// Header

.header-outer {
  height: $header-height;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 0;
}
